<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/_fonts %>
        <% include ../partials/scripts %>
    </head>
    <body>
        <% include ../partials/_testimonial %>

        <% include ../partials/_cta %>

        <% include ../partials/_filterable-content %>

      <script type="text/javascript" src="index.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </body>
</html>
