<section class="media-content-block">
	<div>
		<div>
			<div class="media-main-navbar">
				<div class="upper-row-nav">
					<div class="genre-nav">
						<span>Genre &or;</span>
						<div class="genre-menu"></div>
					</div>
					<div class="year-nav">
						<span>Year &or;</span>
						<div class="year-menu"></div>
					</div>
					<div class="search-bar">
						<input type="text" class="search-field">
					</div>
				</div>
				<div class="bottom-row-nav">
					<div class="movies-filter">
						<input type="radio">
						<label>Movies</label>
					</div>
					<div class="books-filter">
						<input type="radio">
						<label>Books</label>
					</div>
					<div class="clear-filter-box">
						<a href="#" class="clear-filter-link">Clear filters</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div id="mediaDisplays">
			<div id="eachDisplay">
				<ul id="mediaList"></ul>
			</div>
		</div>
	</div>
</section>
