<section class="media-content-block">
	<div>
		<div>
			<div class="media-main-navbar">
				<div class="upper-row-nav">
					<div class="genre-nav">
						<span>Genre &or;</span>
						<div></div>
					</div>
					<div class="year-nav">
						<span>Year &or;</span>
						<div></div>
					</div>
					<div class="search-bar">
						<input type="text" class="search-field">
					</div>
				</div>
				<div class="bottom-row-nav">
					<div class="movies-filter">
						<input type="radio" id="movieBtn">
						<label>Movies</label>
					</div>
					<div class="books-filter">
						<input type="radio" id="bookBtn">
						<label>Books</label>
					</div>
					<div class="clear-filter-box">
						<a class="clear-filter-link" id="clearLink">Clear filters</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div>
			<div>
				<ul>
					<% for (var i=0;i<JSON.stringify(mediadata.media.length);i++){ %>
						<% let poster = decodeURIComponent(mediadata.media[i].poster) %>
						<li> <img src=<%= poster %> /> </li>
					<% }; %>
				</ul>
			</div>
		</div>
	</div>
</section>
