<div class="testimonial-block">
	<div class="inner-block">
		<p class="quote-block">Polaroid bushwick microdosing tattoed. Cornhole single-origin coffee bicycle rights lumbersexual, pour-over intelligentsia banh mi ethical selfies schiltz raw denim 90's leggings. Art party venmo chia, fap lumbersexual mustache actually tilde disrupt kinfolk cray health goth +1.
		</p>
		<span class="quote-author">-Indiana Jones, Archaeologist</span>
	</div>
</div>
