<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ./_fonts %>

  </head>
  <body>
    <style type="text/css">
    /**** exercise 1 - testimonial block ****/
    body{
      width:100%;
      margin:auto;
    }
    .testimonial-block{
      width:100%;
      padding:1%;
      font-family:'Roboto Slab';
      color:grey;
      font-weight:300;
      padding-top:5%;
      background-color:#F7F7F7;
    }
    .inner-block{
      width:60%;
      margin:auto;
      font-size:18px;
    }
    .quote-author{
      font-size:13px;
      font-family:'Montserrat';
      font-weight:bold;
    }
    /**** exercise 2 - cta quote ****/
    .cta-quote-block {
      width:100%;
      border:solid 1px #064F55;
      height:250px;
      background-color:#064F55;
    }
    .cta-inner-block{
      margin:auto;
      width:85%;
      padding:2%;
      margin-top:7%;
      height:100px;
    }
    .cta-quote-message{
      float:left;
      font-size: 16px;
      color:white;
      font-family:'Montserrat';
      height:100px;
      width:80%;
    }
    .tell-more-btn,
    .tell-more-btn:hover{
      font-family:'Montserrat';
      font-weight:bold;
      font-size:14px;
      color:white;
      border:solid 1px #129FDA;
      border-radius:5px;
      background-color:#129FDA;
      padding:22px 45px 22px 45px;
      text-decoration:none;
      float:right;
    }
    /**** exercise 3 - filterable content ****/
    .media-content-block{
      font-family:'Montserrat';
      border:solid 1px lightgrey;
      width:85%;
      margin:auto;
      height:700px;
    }
    .media-main-navbar{
      border-bottom:solid 1px lightgrey;
      float:left;
      width:100%;
    }
    .upper-row-nav{
      float:left;
      width:100%;
      padding-top:2%;
      padding-bottom:2%;
      clear:both;
      height:50%;
    }
    .upper-row-nav,
    .clear-filter-link{
      text-transform:uppercase;
    }
    .genre-nav,
    .year-nav{
      border-bottom:solid 2px lightgrey;
      width:120px;
      float:left;
      font-weight:bold;
      color:grey;
      height:35px;
      background-color:#F3F3F3;
      margin-right:2%;
      margin-left:1%;
    }
    .genre-menu,
    .year-menu{
      display:none;
    }
    .genre-nav span,
    .year-nav span{
      margin-left:20px;
    }
    .search-bar,
    .clear-filter-box{
      padding-right:3%;
      float:right;
    }
    .search-field{
      height:28px;
      font-size:16px;
    }
    .bottom-row-nav{
      border-bottom:solid 1px lightgrey;
      float:left;
      width:100%;
      padding-bottom:2%;
    }
    .movies-filter,
    .books-filter{
      float:left;
      font-weight:bold;
      margin-left:10px;
      color:grey;
    }
    .clear-filter-link{
      color:#41A9DF;
      font-size:14px;
      font-weight:bold;
    }

    </style>
  </body>
</html>
